{{template "base" .}}

{{define "main"}}
<form action="/" method="post">
    <div>
        <label for="url" class="mb-2 form-label">Enter link:</label>
        <input type="url" class="mb-2 form-control" name="url" id="url" placeholder="https://example.com/very-very-very-very-long-link"
            pattern="http://.*|https://.*" required />
    </div>
    <div class="mb-2">
        <button type="submit" class="w-100 btn btn-primary">Short</button>
    </div>
</form>
{{if .}}
<hr class="my-4">
<div class="alert alert-success" role="alert">
    Your short link: <a href="{{.Hashed}}" class="alert-link" target="_blank" rel="noopener noreferrer">{{.Hashed}}</a>
</div>
{{end}}
{{end}}